:root {
  // primary
  --primary-default: var(--color-accent-500);
  --primary-default-color: var(--color-light-100);
  --primary-active: var(--color-accent-700);
  --primary-active-color: var(--color-light-500);
  --primary-hover: var(--color-accent-100);
  --primary-hover-color: var(--color-light-100);
  --primary-focus: var(--color-accent-500);
  --primary-focus-border: var(--color-accent-700);
  --primary-focus-color: var(--color-light-100);
  --primary-disabled: var(--color-accent-900);
  --primary-disabled-color: var(--color-light-900);

  // secondary
  --secondary-default: var(--color-dark-300);
  --secondary-default-color: var(--color-light-100);
  --secondary-active: #212121;
  --secondary-active-color: var(--color-light-100);
  --secondary-hover: var(--color-dark-100);
  --secondary-hover-color: var(--color-light-100);
  --secondary-focus: var(--color-dark-300);
  --secondary-focus-color: var(--color-light-100);
  --secondary-focus-boreder: var(--color-accent-300);
  --secondary-disabled: var(--color-dark-500);
  --secondary-disabled-color: var(--color-light-900);

  // outline
  --outline-default: var(--color-accent-500);
  --outline-active: var(--color-accent-700);
  --outline-hover: var(--color-accent-100);
  --outline-focus: var(--color-accent-700);
  --outline-disabled: var(--color-accent-900);

  // text-button
  --text-button-default: var(--color-accent-500);
  --text-button-active: var(--color-accent-700);
  --text-button-hover: var(--color-accent-100);
  --text-button-focus: var(--color-accent-700);
  --text-button-focus-color: var(--color-accent-500);
  --text-button-disabled: var(--color-accent-900);
}
