.box{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  margin-bottom: 9px;
  font-size: var(--font-size-s);
  color: var(--color-text-secondary);
}

.input {
  color: var(--text-field-default-color);
  background-color: var(--text-field-default);
}